.logo {
    color: #00d26a;
    margin-bottom: 20px;
}

/* Inputs */
.register-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

/* Botão principal */
.btn-primary {
    background: #00d26a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

.btn-primary:hover {
    background: #00a956;
}

/* Google */
.btn-google {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: #333;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.btn-google:hover {
    background: #e0e0e0;
}

.google-icon {
    margin-right: 8px;
    font-size: 18px;
}

/* Links */
.link {
    margin-top: 15px;
    font-size: 14px;
    color: #bbb;
}
.link a {
    color: #00d26a;
    text-decoration: none;
}
.link a:hover {
    text-decoration: underline;
}
